{% load menu_helpers %}

{% for node in nodes %}
    {% if forloop.first  %}
    <ol class="{{ is_submenu|yesno:"submenu,menu" }} {% if menu.title %}menu--{{ menu.title }}{% endif %} {% if from_depth %}menu--fromdepth--{{ from_depth }}{% endif %} {% if to_depth %}menu--todepth--{{ to_depth }}{% endif %}">
    {% endif %}

    {% depth node 'nodes' %}
    {% deeper %}
    <ol class="menu--currentdepth--{{ node.depth }}">
    {% less %}
    </ol></li>
    {% enddepth %}
    <li><a href="{{ node.url }}">{{ node.title }}</a>

    {% if forloop.last %}</ol>{% endif %}
{% endfor %}
