{% load menu_helpers %}
{% for node in nodes %}
    {% if forloop.first  %}
    <ol class="{{ is_submenu|yesno:"submenu,menu" }} {% if menu.title %}menu--{{ menu.title }}{% endif %} menu--fromdepth--{{ from_depth }} menu--todepth--{{ to_depth }}">
    {% endif %}

    {% depth node 'nodes' %}
    {% deeper %}
    <ol class="menu--currentdepth--{{ node.depth }}">
    {% less %}
    </ol></li>
    {% enddepth %}
    <li{% if node.depth %} class="menu--depth--{{ node.depth }}"{% endif %}><a href="{{ node.url }}">{{ node.title }}</a>

    {% if forloop.last %}</ol>{% endif %}
{% endfor %}
