{% load menus %}
<select {% for attr, attr_value in widget_attrs.items %}{{ attr }}="{{ attr_value }}"{% endfor %}>
    <option value="">{{ empty_label }}</option>
    {% for node, node_metadata in options %}
    <option value="{{ node.get_absolute_url }}" {% if value == node.get_absolute_url %}selected="selected"{% endif %}>
        {{ node.depth_ascii }}
        {% if node.title_needs_parsing %}{% parse_title node %}{% else %}{{ node.title }}{% endif %}
    </option>
    {% endfor %}
</select>
