{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_related_objects %}
    {% if original and change %}
        {% load menus %}
        <fieldset class="module aligned ">
            <h2>{% trans "menu as a list" %}</h2>
            <div class="form-row menu-as-a-list">
                <div>
                    {% show_menu original.title %}
                </div>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}


{% block extrastyle %}{{ block.super }}
<style type="text/css">
.menu-as-a-list .ancestor > a:after {
    content: " ({% trans "Ancestor" %})";
}
{#.menu-as-a-list .norelationship > a:after {#}
{#    content: " ({% trans "..." %})";#}
{#}#}
.menu-as-a-list .selected > a:after {
    content: " ({% trans "Selected" %})";
}
.menu-as-a-list .descendant > a:after {
    content: " ({% trans "Descendant" %})";
}
.menu-as-a-list li a:after {
    content: " ({% trans "No relationship" %})";
}


.menu-as-a-list .ancestor a {
    color: #888;
    font-style: italic;
}

.menu-as-a-list .selected a {
    color: black;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-as-a-list .descendant a {
    color: #888;
    text-transform: none;
    font-weight: normal;
}

.menu-as-a-list .norelationship a {
    font-style: normal;
    color: #DDD;
}

.menu-as-a-list li a {
    color: #BBB;
    font-style: normal;
    text-transform: none;
}

.menu-as-a-list a:hover {
    text-decoration: underline;
}
</style>
{% endblock %}
