
{% load menus %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
<h2>Position in {{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
<div class="form-row">
{% if change %}
    {% if inline_admin_formset.formset.tree_lookup %}
        <div class="breadcrumbs" style="border-bottom: none; background-image: none;">
        {% show_breadcrumbs inline_admin_formset.formset.tree_lookup as breadcrumbs %}

        {% for ancestor in breadcrumbs.ancestor_nodes %}
        <a href="{{ ancestor.get_absolute_url }}">{% parse_title ancestor %}</a>
        &rsaquo;
        {% endfor %}

        <a href="{{ breadcrumbs.menu_node.get_absolute_url }}">{% parse_title breadcrumbs.menu_node %}</a>

        {% if breadcrumbs.child_nodes %}
            &rsaquo;
            with {{ breadcrumbs.child_nodes|length }} {{ breadcrumbs.child_nodes|pluralize:"child,children" }}
            ({% for child in breadcrumbs.child_nodes %}<a href="{{ child.get_absolute_url }}">{% parse_title child %}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
        {% endif %}
        </div>
    {% else %}
    <span>Doesn't appear in any {{ inline_admin_formset.opts.verbose_name_plural }}</span>
    {% endif %}
{% else %}
<span>{{ opts.verbose_name }} must be saved first.</span>
{% endif %}
</div>
</div>
