{% extends "admin/change_form.html" %}
{% load admin_urls admin_modify i18n static %}

{% block content %}
<div id="content-main">
{% url opts|admin_urlname:'import' as form_url %}
<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_import_form">{% csrf_token %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock submit_buttons_top %}{% endif %}
<fieldset class="module aligned">
    <dl>
    {% for menu, urls in items %}
        <dt>{{ menu }}</dt>
        {% for url in urls %}
        <dd>
            <a href="{{ url.path }}">{{ url.title }}</a>
            {% if url.title != url.path %}
            {{ url.path }}
            {% endif %}
        </dd>
        {% empty %}
        <dd>{% trans "There are currently no new URLs to import" %}</dd>
        {% endfor %}
    {% empty %}
        <dd>{% trans "There are currently no new URLs to import" %}</dd>
    {% endfor %}
    </dl>
</fieldset>
    {% block submit_buttons_bottom %}{% submit_row %}{% endblock submit_buttons_bottom %}
</div>
</form>
</div>
{% endblock content %}

